<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Live Camera</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body {
                background-color: black;
    
                display: flex;
                align-items: center;
                justify-content: center;
                align-items: stretch;   
            }
            video {
                width: 100%;
                height: 100%;
            }
        </style>
    </head>

    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>

    <body>
        <video id="live-video" autoplay="true" controls="controls"></video>
        <script>
            if(Hls.isSupported()) {
                var video = document.getElementById('live-video');
                var hls = new Hls();

                // bind them together
                hls.attachMedia(video);

                // MEDIA_ATTACHED event is fired by hls object once MediaSource is ready
                hls.on(Hls.Events.MEDIA_ATTACHED, function () {
                    console.log('Video and hls.js bound successfully!');
                    hls.loadSource("http://localhost/live/keithse2556");    //FIX LATER
                    hls.on(Hls.Events.MANIFEST_PARSED, function(event, data) {
                        console.log("Manifest loaded, found " + data.levels.length + " quality level");
                    });
                });
            }
        </script>
    </body>
</html>