<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Live Camera</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <img id="image">
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
        <script>
            //const socket = io.connect('http://localhost:5000');
            var socket = io.connect("localhost:5000", {transports: ['websocket']});
            socket.on('image', (image) => {
                const imageElement = document.getElementById('image');
                imageElement.src = `data:image/jpeg;base64,${image}`;
            })
        </script>
    </body>
</html>