<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" contents="width=device-width, initial-scale=1.0" />
    <title>Raspberry PI Home Security</title>
    <link rel="stylesheet" href="tabs.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <style>
    .group {
      display:grid;
      position:absolute;
      box-sizing: border-box;
      justify-items: center;
    }
    .text-box {
      position:relative;
      margin-top:20px;
    }
    table {
      border: 1px solid #fff;
      border-collapse: collapse;
      overflow-y: scroll;
      height: 400px;
      width: 100%;
      display: block;
    }
    tr, th, td {
      padding: 10px;
      border: 2px solid #fff;
    }
  </style>
  <body>
    <section class="header"></section>

    <nav>
      <div class="nav-links">
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/live">Live Feed</a></li>
          <li><a href="/past-feed">Past Feed</a></li>
          <li><a href="/settings">Settings</a></li>
          <li>
            <form action="/logout?_method=DELETE" method="POST">
              <button type="submit" class="hero-btn">Logout</button>
            </form>
          </li>
          <!-- <li style="color: white" onclick="myIndex()">Log Out</li> -->
        </ul>
      </div>
    </nav>

    <div class="group">
      <div class="text-box">
        <h1>Past Feed</h1>
        <p>See what has happened!</p>
      </div>

      <table>
        <tr>
          <th>Footage ID</th>
          <th>Time Stamp</th>
          <th>Access link</th>
        </tr>

        <%
        if(data.length != 0) {
          var i = 1;
          data.forEach( function(tuple) {
        %>
        <tr>
          <td><%= tuple.footage_ID %></td>
          <td><%= tuple.time_stamp %></td>
          <td><a href="/capture/<%= tuple.footage_ID %>">Download capture</a></td>
        </tr>
        <% i++; }) %>
        <% } else { %>
          <tr>
            <td colspan="3">No data found</td>
          </tr>
        <% } %>
      </table>
    </div>
  </body>
</html>

<script>
  function myIndex() {
    window.location.href = "index.html";
  }
</script>
